@{
    ViewBag.Title = "Category";
}
<main>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="@Url.Action("Index", "Home_64130531")">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                        <a href="@Url.Action("Category_64130531", "Category_64130531")">Fashion Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">HÃNG SẢN XUẤT</div>
                    <ul class="main-categories">
                        @foreach (var category in Model.DanhMucs)
                        {
                            <li class="main-nav-list" onclick="getProductsByCategory('@category.MaDanhMuc')">
                                <a href="javascript:void(0)" class="category-link" data-id="@category.MaDanhMuc">
                                    <span class="lnr lnr-arrow-right"></span>@category.TenDanhMuc
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">Bộ lọc sản phẩm</div>
                    <div class="common-filter">
                        <div class="head">Hệ điều hành</div>
                        <form action="#">
                            <ul>
                                @foreach (var brand in Model.Brands)
                                {
                                    <li class="filter-list" onclick="getProductsByBrand('@brand.MaNhan')">
                                        <input class="pixel-radio" type="radio" id="@brand.MaNhan" name="brand" value="@brand.MaNhan">
                                        <label for="@brand.MaNhan">@brand.TenNhan</label>
                                    </li>
                                }
                            </ul>
                        </form>
                    </div>

                    <div class="common-filter">
                        <div class="head">Màu sắc</div>
                        <form action="#">
                            <ul>
                                @foreach (var color in Model.Colors)
                                {
                                    <li class="filter-list" onclick="getProductsByColor('@color.MaMau')">
                                        <input class="pixel-radio" type="radio" id="@color.MaMau" name="color" value="@color.MaMau">
                                        <label for="@color.MaMau">@color.TenMau</label>
                                    </li>
                                }
                            </ul>
                        </form>
                    </div>

                    <div class="common-filter">
                        <div class="head">Price</div>
                        <div class="price-range-area">
                            <div id="price-range"></div>
                            <div class="value-wrapper d-flex">
                                <div class="price">Price:</div>
                                <span>$</span>
                                <div id="lower-value">100</div>
                                <div class="to">to</div>
                                <span>$</span>
                                <div id="upper-value">2000</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                        </select>
                    </div>
                    <div class="pagination">
                        <!-- Nút Previous -->
                        @if (Model.CurrentPage > 1)
                        {
                            <a href="@Url.Action("Category_64130531", new { page = Model.CurrentPage - 1 })" class="prev-arrow">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            </a>
                        }

                        <!-- Hiển thị số trang -->
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <a href="@Url.Action("Category_64130531", new { page = i })" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                        }

                        <!-- Nút Next -->
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <a href="@Url.Action("Category_64130531", new { page = Model.CurrentPage + 1 })" class="next-arrow">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        }
                    </div>

                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row" id="product-list">

                        @foreach (var sanpham in Model.SanPhams6)
                        {
                            <!-- single product -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product" id="@sanpham.ChitietId">
                                    <img class="img-fluid" src="@Url.Content("~/img/product/" + sanpham.HinhAnh)" onclick="window.location.href='/Home_64130531/Chitietsanpham?id=@sanpham.ChitietId'" alt="">
                                    <div class="product-details">
                                        <h6>@sanpham.TenSanPham - @sanpham.MauSac</h6> <!-- Hiển thị tên sản phẩm -->
                                        <div class="price">
                                            <h6>@((sanpham.Gia * 0.9M).ToString("C"))</h6><!-- Định dạng giá thành tiền tệ -->
                                            <h6 class="l-through">@sanpham.Gia.ToString("C")</h6>
                                        </div>
                                        <div class="prd-bottom">

                                            <a class="social-info" onclick="addToCart('@sanpham.ChitietId')">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="@Url.Action("Chitietsanpham", "Home_64130531", new { id = sanpham.ChitietId })" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single product -->
                        }
                    </div>
                </section>

                <!-- End Best Seller -->

            </div>
        </div>
    </div>
    <!-- Start related-product Area -->
    <section class="related-product-area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Ưa đãi trong tuần</h1>
                        <p>
                            Giảm giá sản phẩm với ưa đãi khủng, nhanh tay chọn mua hàng nào.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <!-- single product -->
                        @foreach (var sanpham in Model.SanPhams9)
                        {
                            <!-- single product -->
                            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                                <div class="single-related-product single-product d-flex" id="@sanpham.ChitietId">
                                    <a>
                                        <img src="@Url.Content("~/img/product/" + sanpham.HinhAnh)" onclick="window.location.href='/Home_64130531/Chitietsanpham?id=@sanpham.ChitietId'" alt="">
                                    </a>
                                    <div class="product-details">
                                        <a class="title">@sanpham.TenSanPham - @sanpham.MauSac</a> <!-- Hiển thị tên sản phẩm -->
                                        <div class="price">
                                            <h6>@((sanpham.Gia * 0.9M).ToString("C"))</h6><!-- Định dạng giá thành tiền tệ -->
                                            <h6 class="l-through">@sanpham.Gia.ToString("C")</h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <a class="social-info" onclick="addToCart('@sanpham.ChitietId')">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="@Url.Action("Chitietsanpham", "Home_64130531", new { id = sanpham.ChitietId })" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single product -->
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ctg-right">
                        <a href="#" target="_blank">
                            <img class="img-fluid d-block mx-auto" src="~/img/category/c5.jpg" alt="" style="margin-top: 100px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End related-product Area -->
</main>
<script>
function getProductsByCategory(maDanhMuc) {
    console.log("tam");
    $.ajax({
        url: '@Url.Action("GetProductsByCategory", "Category_64130531")',
        type: 'GET',
        data: { maDanhMuc: maDanhMuc },
        success: function (data) {
            // Xử lý dữ liệu và cập nhật hiển thị sản phẩm
            var productHTML = '';
            if (data.length > 0) {
                data.forEach(function (product) {
                    productHTML += '<div class="col-lg-4 col-md-6">';
                    productHTML += '    <div class="single-product" id="' + product.IdChiTiet + '">';
                    productHTML += `
                        <img
                            class="img-fluid"
                            src="/img/product/${product.HinhAnh}"
                            onclick="window.location.href='/Home_64130531/Chitietsanpham?id=${product.ChitietId}'"
                            alt=""
                        >
                    `;
                    productHTML += '        <h6>' + product.TenSanPham + ' - ' + product.MauSac + '</h6>'; // Tên sản phẩm và màu sắc
                    productHTML += '        <div class="price">';
                    productHTML += '            <h6>' + (product.Gia * 0.7).toFixed(2) + '</h6>'; // Giá đã giảm 30%
                    productHTML += '            <h6 class="l-through">' + product.Gia.toFixed(2) + '</h6>'; // Giá gốc
                    productHTML += '        </div>';
                    productHTML += '        <div class="prd-bottom">';
                    productHTML += '            <a class="social-info" onclick="addToCart(\'' + product.ChitietId + '\')">';
                    productHTML += '                <span class="ti-bag"></span>';
                    productHTML += '                <p class="hover-text">add to bag</p>';
                    productHTML += '            </a>';
                    productHTML += '            <a class="social-info">';
                    productHTML += '                <span class="lnr lnr-move"></span>';
                    productHTML += '                <p class="hover-text">view more</p>';
                    productHTML += '            </a>';
                    productHTML += '        </div>';
                    productHTML += '    </div>';
                    productHTML += '</div>';
                });
            } else {
                productHTML = '<p>Không có sản phẩm nào.</p>';
            }
            // Cập nhật phần hiển thị sản phẩm
            $("#product-list").html(productHTML);
        },
        error: function (xhr, status, error) {
            alert("Có lỗi xảy ra khi tải sản phẩm.");
        }
    });
}

function getProductsByBrand(maNhan) {
    console.log("tam1");
    $.ajax({
        url: '@Url.Action("GetFilterByBrand", "Category_64130531")',
        type: 'GET',
        data: { maNhan: maNhan },
        success: function (data) {
            // Xử lý dữ liệu và cập nhật hiển thị sản phẩm
            var productHTML = '';
            if (data.length > 0) {
                data.forEach(function (product) {
                    productHTML += '<div class="col-lg-4 col-md-6">';
                    productHTML += '    <div class="single-product" id="' + product.IdChiTiet + '">';
                    productHTML += `
                        <img
                            class="img-fluid"
                            src="/img/product/${product.HinhAnh}"
                            onclick="window.location.href='/Home_64130531/Chitietsanpham?id=${product.ChitietId}'"
                            alt=""
                        >
                    `;
                    productHTML += '        <h6>' + product.TenSanPham + ' - ' + product.MauSac + '</h6>'; // Tên sản phẩm và màu sắc
                    productHTML += '        <div class="price">';
                    productHTML += '            <h6>' + (product.Gia * 0.7).toFixed(2) + '</h6>'; // Giá đã giảm 30%
                    productHTML += '            <h6 class="l-through">' + product.Gia.toFixed(2) + '</h6>'; // Giá gốc
                    productHTML += '        </div>';
                    productHTML += '        <div class="prd-bottom">';
                    productHTML += '            <a class="social-info" onclick="addToCart(\'' + product.ChitietId + '\')">';
                    productHTML += '                <span class="ti-bag"></span>';
                    productHTML += '                <p class="hover-text">add to bag</p>';
                    productHTML += '            </a>';
                    productHTML += '            <a class="social-info">';
                    productHTML += '                <span class="lnr lnr-move"></span>';
                    productHTML += '                <p class="hover-text">view more</p>';
                    productHTML += '            </a>';
                    productHTML += '        </div>';
                    productHTML += '    </div>';
                    productHTML += '</div>';
                });
            } else {
                productHTML = '<p>Không có sản phẩm nào.</p>';
            }
            // Cập nhật phần hiển thị sản phẩm
            $("#product-list").html(productHTML);
        },
        error: function (xhr, status, error) {
            alert("Có lỗi xảy ra khi tải sản phẩm.");
        }
    });
}

    function getProductsByColor(MaMau) {
    console.log("tam2");
    $.ajax({
        url: '@Url.Action("GetFilterByColor", "Category_64130531")',
        type: 'GET',
        data: { MaMau: MaMau },
        success: function (data) {
            // Xử lý dữ liệu và cập nhật hiển thị sản phẩm
            var productHTML = '';
            if (data.length > 0) {
                data.forEach(function (product) {
                    productHTML += '<div class="col-lg-4 col-md-6">';
                    productHTML += '    <div class="single-product" id="' + product.IdChiTiet + '">';
                    productHTML += `
                        <img
                            class="img-fluid"
                            src="/img/product/${product.HinhAnh}"
                            onclick="window.location.href='/Home_64130531/Chitietsanpham?id=${product.ChitietId}'"
                            alt=""
                        >
                    `;
                    productHTML += '        <h6>' + product.TenSanPham + ' - ' + product.MauSac + '</h6>'; // Tên sản phẩm và màu sắc
                    productHTML += '        <div class="price">';
                    productHTML += '            <h6>' + (product.Gia * 0.7).toFixed(2) + '</h6>'; // Giá đã giảm 30%
                    productHTML += '            <h6 class="l-through">' + product.Gia.toFixed(2) + '</h6>'; // Giá gốc
                    productHTML += '        </div>';
                    productHTML += '        <div class="prd-bottom">';
                    productHTML += '            <a class="social-info" onclick="addToCart(\'' + product.ChitietId + '\')">';
                    productHTML += '                <span class="ti-bag"></span>';
                    productHTML += '                <p class="hover-text">add to bag</p>';
                    productHTML += '            </a>';
                    productHTML += '            <a class="social-info">';
                    productHTML += '                <span class="lnr lnr-move"></span>';
                    productHTML += '                <p class="hover-text">view more</p>';
                    productHTML += '            </a>';
                    productHTML += '        </div>';
                    productHTML += '    </div>';
                    productHTML += '</div>';
                });
            } else {
                productHTML = '<p>Không có sản phẩm nào.</p>';
            }
            // Cập nhật phần hiển thị sản phẩm
            $("#product-list").html(productHTML);
        },
        error: function (xhr, status, error) {
            alert("Có lỗi xảy ra khi tải sản phẩm.");
        }
    });
}


    function getCookieValue(name) {
        const cookies = document.cookie.split(';');
        for (const cookie of cookies) {
            const [key, value] = cookie.trim().split('=');
            if (key === name) return decodeURIComponent(value);
        }
        return null;
    }

    function addToCart(idctsp) {
        const userId = getCookieValue('idUser'); // Lấy ID người dùng từ cookie
        if (!userId) {
            alert("Bạn cần đăng nhập trước");
            window.location.href = '/Account_64130531/Login';
            return;
        }

        const url = `/Shop_64130531/AddCart`; // Đúng endpoint của Controller

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ userId, idctsp }), // Gửi dữ liệu userId và idctsp
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message); // Thông báo thành công
                } else {
                    alert(data.message); // Thông báo lỗi từ server
                }
            })
            .catch(error => {
                alert("Đã xảy ra lỗi: " + error.message); // Thông báo lỗi fetch
            });
    }

</script>
